<div id="contirbutor">
  <div class="row"">
    <a href={{contribution.calculatedLink}}>
      <span class="col-sm-3">{{contribution.attributes.contributor.name}}</span>
      <span class="col-sm-6">{{contribution.attributes.recipient.name}}</span>
      <span class="col-sm-1">{{contribution.friendlyAmount}}</span>
      <span class="col-sm-2">{{contribution.friendlyDate}}</span>
    </a>
  </div>
</div>
