%h1= contributor.name
%h2 Made #{contributions.count} contributions:
%ul
  - contributions.each do |c|
    %li
      %a{ href: "/recipients/#{c.recipient.class.name.downcase}/#{c.recipient.id}"}
        = c.recipient.name
