%section#mayoral-candidates
  %h2#mayoral-candidates City of Oakland Mayoral Candidates
  %ul.mayoral-candidates
    - organizations.each do |o|
      - name = Party::CANDIDATE_NAMES[o.committee_id]
      - summary = o.summaries.order(date: :desc).first
      %li
        %a.mayoral-box{ style: "background-image: url(/images/#{name.split.last}.jpg)",
          href: "/party/#{o.id}" }
          %span.mayoral-box-name= name
        %table.mayoral-box-table
          - if summary
            %tbody
              %tr
                %th{ scope: 'row' } Cash On Hand:
                %td $#{summary.ending_cash_balance}
              %tr
                %th{ scope: 'row' } Pct Small Donors:
                %td
              %tr
                %th{ scope: 'row' } Donations:
                %td= o.received_contributions.count

%section
  %h2 Charts
  #charts

- content_for :sidebar do
  %ul
    %li
      %a{ href: '#mayoral-candidates' } Mayoral Candidates

:javascript
  var charts = [
    {
      id: 'chart1',
      name: 'My Fancy Chart',
      description: 'How do these work?'
    },
    {
      id: 'donorLocation',
      name: 'Contributor Location',
      description: 'Are donors local?'
    },
    {
      id: 'donorZipcode',
      name: 'Map of Donor Zipcodes',
      description: 'Where do donors live?'
    },
    {
      id: 'leaderByZipcode',
      name: 'Leading Candidate by Zipcode',
      description: 'Where are candidates leading?'
    }
  ];

