!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Open Disclosure
    %meta{content: "width=device-width", name: "viewport"}
    %link{ rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Open+Sans:400,700|Crete+Round' }
    %link{ rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' }
    %meta{ name: 'google-site-verification', content: 'yXhjc2AToqKzxrNc5p03ZIaaNiid07AB0_-VoNFP-pw' }
    = stylesheet_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    -#
      Include the assets/css/application.css.scss manifest. If you want to
      include another manifest here, you must also add it to the
      "assets_precompile" array in app.rb
    = stylesheet_tag 'application'

  %body
    .disclaimer
      %i.glyphicon.glyphicon-exclamation-sign
      This site is
      %a{ href: 'https://github.com/openoakland/opendisclosure' }
        under active development
      and all data is unfinalized.
      %a{ href: 'http://www.meetup.com/OpenOakland/' }
        You can help us finish it!

    %header.main-header
      .container
        .row
          .col-xs-4.col-sm-2.header-oakland-logo
            %a{ href: '/#' }
              %img{ src: image_path('OaklandCityTree.png') }
          .col-xs-8.col-sm-10.header-title-container
            %h1.header-main-title Open Disclosure
            %h2.header-catchphrase Bringing Oakland Campaign Money to Light

    .container
      .row
        %aside.col-sm-2.sidebar{ role: 'navigation'}
          %ul.nav.nav-sidebar
            %li
              %a{ href: '/about' } About Us
            %li
              %a{ href: '/rules' } Oakland Campaign Finance Rules
            / Hiding these until we have some content there - KW 5/19/14
            / %li
            /   %a{ href: '#' } Where does the data come from?
            / %li
            /   %a{ href: '#' } Contribute
            %li
              %a{href: '/'} Candidates
              %ul.nav.nav-sidebar.compressed
                - Party.mayoral_candidates.each do |c|
                  %li
                    %a{ href: c.link_path }= c.short_name

        .main.col-sm-10
          %span Loading data...
          %script{ type: 'text/template', id: 'mayoral-table-template' }
            :plain
              <h2 class='mayor2014'>Campaign Finance for the 2014 Oakland Mayoral Election</h2>
              <table id='mayoral-table' class='table'>
                <thead>
                  <tr>
                    <th id='mayoral-table-picture-column'></th>
                    <th id='mayoral-table-name-column'></th>
                    <th class='mayoral-table-head bold'>Total Raised</th>
                    <th class='mayoral-table-head'>Number of itemized contributions</th>
                    <th class='mayoral-table-head'>Percentage of itemized contributions from outside Oakland</th>
                    <th class='mayoral-table-head'>Percentage from small contributions*</th>
                    <th class='mayoral-table-head'>Average of itemized contributions</th>
                  </tr>
                </thead>
                <tbody>
                  <% _.each(models, function(m) { %>
                    <tr>
                      <td>
                        <a href='<%= m.linkPath() %>'><img class='mayor-picture' src="<%= m.imagePath() %>" /></a>
                      </td>
                      <td scope='row'>
                        <div class='mayor-info'>
                          <p class='mayor-name'>
                            <a href= '<%= m.linkPath() %>'><%- m.attributes.short_name %></a>
                          </p>
                          <p class='mayor-profession'><%- m.attributes.profession %></p>
                        </div>
                      </td>
                      <% if (m.attributes.summary) { %>
                        <td class='mayoral-table-number'><%= m.friendlySummaryNumber('total_contributions_received') %></td>
                        <td class='mayoral-table-number'><%= m.attributes.received_contributions_count %></td>
                        <td class='mayoral-table-number'><%= m.pctContributionsFromOakland() %></td>
                        <td class='mayoral-table-number'><%= m.pctSmallContributions() %></td>
                        <td class='mayoral-table-number'><%= m.avgContribution() %></td>
                      <% } else { %>
                        <td colspan="5">No Data Available :(</td>
                      <% } %>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
              <p>This table includes all candidates who have submitted campaign finance disclosure forms as of #{last_updated.strftime '%B %e, %Y'}.</p>
              <p> * Candidates do not need to itemize contributions less than $100 </p>

    %footer.main-footer
      %a{ href: 'http://openoakland.org/'}
        %img.footer-logos{ src: image_path('footer_logo1.png') }
      %a{ href: 'https://github.com/openoakland/opendisclosure'}
        %img.footer-logos{ src: image_path('footer_logo_plus.png') }
      %a{ href: 'http://www2.oaklandnet.com/Government/o/CityAdministration/d/PublicEthics/index.htm'}
        %img.footer-logos{ src: image_path('footer_logo2.png') }

    / Third Party (cdn)
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'}

    / Google apis
    %script{src: "https://www.google.com/jsapi"}
    :javascript
      google.load('visualization', '1.0', {'packages':['corechart']});

      window.OpenDisclosure = {};
      window.OpenDisclosure.Views = {};
      window.OpenDisclosure.Data = {};
      window.OpenDisclosure.BootstrappedData = {
        candidates: #{candidate_json}
      }

    -#
      Include the assets/js/application.js manifest. If you want to include
      another manifest here, you must also add it to the "assets_precompile"
      array in app.rb
    = javascript_tag 'application.js'

    :javascript
      <!-- Google Analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50973042-1', 'auto');
      ga('send', 'pageview');
