!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title Open Disclosure
    %meta{content: "width=device-width", name: "viewport"}
    %link{ rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Merriweather:300,400,700' }
    %link{ rel: 'stylesheet', href: '//fonts.googleapis.com/css?family=Crete+Round' }
    = stylesheet_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    = stylesheet_tag 'application'

  %body
    .disclaimer
      %i.glyphicon.glyphicon-exclamation-sign
      This site is
      %a{ href: 'https://github.com/openoakland/opendisclosure' }
        under active development
      and all data is unfinalized.
      %a{ href: 'http://www.meetup.com/OpenOakland/' }
        You can help us finish it!

    %header
      / .container-fluid
      .row
        #logo.leftCol
          %a{ href: '/' }
            %img{ src: image_path('OaklandCityTree.png') }
        #titleContainer.rightCol
          %p.subtitle 2014 Oakland Mayoral Election
          %p.title.green Campaign Finance Analysis

    .container-fluid
      .row
        .sidebar.leftCol{ role: 'navigation'}
          %ul.nav.nav-sidebar
            %li
              %a{ href: '/#about' } About Us
            / Hiding these until we have some content there - KW 5/19/14
            / %li
            /   %a{ href: '#' } Where does the data come from?
            / %li
            /   %a{ href: '#' } Contribute
            %li
              %a{href: '/'} Candidates
              %ul.nav.nav-sidebar.compressed
                - Party.mayoral_candidates.each do |c|
                  %li
                    %a{ href: "/#candidate/#{c.id}" }= c.short_name

        .main.col-sm-offset-1.col-sm-8
          .row= yield

    / Third Party (cdn)
    %script{src: "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"}
    %script{src: "http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js"}
    %script{src: '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'}

    / Google apis
    %script{src: "https://www.google.com/jsapi"}
    :javascript
      google.load('visualization', '1.0', {'packages':['corechart']});

    = javascript_tag 'application.js'

    :javascript
      <!-- Google Analytics -->
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50973042-1', 'auto');
      ga('send', 'pageview');
